html{
 font-size: 10px;
  background: url(images/person-wearing-red-hoodie-1097456.jpg) bottom center;
  background-size: cover;
}    

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
       
}

.wrapper {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: stretch;
    justify-content: center;
    
}

.keys {
    display: flex;
    align-items: center;
    justify-content: center;
 
  }

.key {
    display:flex;
    flex-direction: column;
    border: .2rem solid darkred;
    border-radius: .5rem;
    margin: 1rem;
    transition: all .07s ease;
    padding: 1rem .5rem;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}

kbd {
    display: block;
    font-size: 4rem; 
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}

.playing {
  transform: scale(2);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}